In [2]:
import pandas as pd

# **Pandas: Python's Data Analysis Library**
Pandas is an open-source Python library designed for data manipulation, analysis, and visualization. It provides two primary data structures:

Series – A one-dimensional labeled array (like a column in Excel).

DataFrame – A two-dimensional labeled table (like an Excel spreadsheet or SQL table).

Why Use Pandas?

Handles Structured Data Easily – Works well with tabular data like CSV, Excel, SQL, JSON.

Fast and Efficient – Built on top of NumPy for performance.

Powerful Data Manipulation – Filtering, sorting, grouping, merging, and reshaping.

Integrated with Other Libraries – Works seamlessly with NumPy, Matplotlib, and Scikit-learn.

In [3]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
print(df["Name"])   # Get a specific column
print(df[["Name", "Age"]])  # Get multiple columns

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [5]:
df_filtered = df[df["Age"] > 28]  # Filter rows where Age > 28
print(df_filtered)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [6]:
df_sorted = df.sort_values("Age", ascending=False)  # Sort by Age in descending order
print(df_sorted)

      Name  Age         City
2  Charlie   35      Chicago
1      Bob   30  Los Angeles
0    Alice   25     New York

In [7]:
df_grouped = df.groupby("City")["Age"].mean()  # Get average age per city
print(df_grouped)

City
Chicago        35.0
Los Angeles    30.0
New York       25.0
Name: Age, dtype: float64

In [8]:
df["Salary"] = [50000, 60000, 70000]  # Add a new column
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000